.community-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
  }
  .section-heading{
    font-size: 2rem;
    margin-bottom: 15px;
    color: #1a73e8; 
  }
  
  .testimonial-card {
    background-color: rgb(211, 235, 243);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 30px;
    text-align: center;
    max-width: 900px;
    width: 100%;
  }
  
  .testimonial-card h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: blue;
  }
  
  .testimonial-content {
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 6rem;
    text-align: center;
    margin: 20px 0;
    color: #333;
  }
  
  .testimonial-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .testimonial-footer img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border: 2px solid #0078d4;
  }
  
  .testimonial-footer p {
    font-size: 0.9rem;
    text-align: left;
    line-height: 1.4;
  }
  